body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    min-width: 300px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  h1 {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, select, button {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    /* background-color: #007bff; */
    background-color: #fe0000;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    /* background-color: #0056b3; */
    background-color: #e00303;

  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .results {
    margin-top: 10px;
  }
  
  .results h2 {
    font-size: 16px;
    margin: 0;
    color: #333;
  }
  
  .results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .results li {
    margin: 5px 0;
  }
  
  .results a {
    color: #007bff;
    text-decoration: none;
    text-align: left;
  }
  
  .results a:hover {
    text-decoration: underline;
  }

  button.link-style {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    font: inherit;
  }
  
  button.link-style:hover {
    color: #0056b3;
  }